    .footer_things {
    background-color: #2F303A;
    }

    .logo--light {
    color: var(--third-color);
    }
    
    .place {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    } 
    .place:active {
    text-decoration: underline;   
    }
    
    .mail {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);   
    }
    .mail:active {
    text-decoration: underline;    
    }
    
    .telefon {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    }
    .telefon:active {
    text-decoration: underline;     
    }

.footer_things {
display: flex;
padding-top: 60px;
padding-bottom: 60px;
}

.adress_footer {
padding-top: 20px;
}

.two_side {
display: flex;
align-items: baseline;
}

.left_side {
display: block;
}

.right_side {
margin-left: 70px;
}