    .our_customers {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 30px;
    }
    
    .our_customers_list {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .our_customers_list_item {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    fill: #afb1b8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 94px;
    }
    
    .our_customers_icon {
    width: 106px;
    height: 60px;
    }
    
    .our_customers_list_item:hover,
    .our_customers_list_item:focus {
    fill: var(--secondary-color);
    border-color: var(--secondary-color);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }