    .our-services {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--background-color);
    }

    .our-services__images {
    padding-top: 50px;
    padding-bottom: 94px;
    }

    .our-services__list {
    display:  flex;
    justify-content: space-between;
    }
        
    .our-services-card__top-section {
    position: relative;
    }

    .our-services-card__text {
    padding: 27px 0;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light);
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    }